
.forecast {
     background-color: rgba(255, 255, 255, 0.028);
   }
 
 .forecast-items {
     display: flex;
     justify-content: space-between; 
     margin-top: 5px; 
     margin-bottom: 5px; 
     color: black;
   }
   
   .forecast-item {
     width: 220px;
     height: 220px; 
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 10px 10px;
     border-radius: 10px;
     backdrop-filter: blur(30px);
     background-color: rgba(65, 65, 65, 0.308);
     border: 1px solid rgba(255, 255, 255, 0.089);
     cursor: pointer;
     margin: 5px;
     color: black;
     font-weight: bold;
   }
   
   .forecast-item:hover {
     transform: translateY(-5px); 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   }
   
   .forecast-item > div {
     margin-bottom: 5px;
   }
   
   .forecast-item img {
     width: 50px;
     height: 50px;
     margin-bottom: 5px;
   }
   
   .forecast-summary {
    color:black;
    text-align: center;
   }

   .daily-summary {
    color:black;
    text-align: center;
   }

   .city-name {
    text-align: center;
   }